<h1 mat-dialog-title>{{data.op}}</h1>
<form class="dialog" mat-dialog-content [formGroup]="formGroup">
    <ng-container *ngFor="let column of data.columnDefinition" [ngSwitch]="column.type">
        <ng-container *ngIf="data.element[column.key] || data.element[column.key] == null && !column.hide">
            <div *ngSwitchCase="'table'">
                <app-table [data]="data.element[column.key]" [columns]="data.expandedColumns ? data.expandedColumns : data.columnDefinition" [subColumns]="data.subColumnDefinition"></app-table>
            </div>
            <div style="width:100%" *ngSwitchCase="'dropdown'">
                <mat-form-field>
                    <mat-label>{{column.name}}</mat-label>
                    <mat-select formControlName="{{column.key}}">
                        <mat-option [value]="'Yes'">Yes</mat-option>
                        <mat-option [value]="'No'">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="width:100%" *ngSwitchDefault>
                <mat-form-field>
                  <mat-label>{{column.name}}</mat-label>
                  <input formControlName="{{column.key}}" matInput>
                </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
</form>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [type]="submit" cdkFocusInitial>{{data.op}}</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
    <div *ngIf="formInvalid" style="color: red; padding-left: 10px">
        <p>Please fill out the selected field.</p>
    </div>
</div>

<!-- (ngModelChange)="updateElement($event, column)" [ngModel]="data.element[column.key]" -->